body{
    background-color: rgb(255, 255, 255);
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%;
    width:100%;
}

.calcBody{
    background-color: rgb(67, 67, 67);
    border-radius: 5%;
    border-style:solid;
    border-width: 2px;
    width:330px;
    height:330px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.upperHalf{
    width:90%;
    height:65px;
    background-color: rgb(255, 255, 255);
    margin:10px;
    opacity: 80%;
    display: flex;
    justify-content: end;
    align-items: end;
}

.displayText{
padding-right: 4px;
font-weight: bold;
}

.calcBody, .upperHalf, button{
    border-radius: 0.2cm;;
}

.lowerHalf{
    width:90%;
    height:20px;
    flex:1 1 auto;
    margin-bottom:10px;
    border-radius: 0.2cm;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
 
.row{
    display:flex;
    justify-content: space-between;
}

button{
    width:70px;
    height:40px;
    background-color: rgb(255, 255, 255);
    opacity: 70%;
    font-weight: bold;
    color:rgb(6, 3, 3);
    font-family: 'Courier New', Courier, monospace;
}

.topRow{
    background-color: rgb(58, 53, 88);
    color:white
}

.lrow{
    display: flex;
    gap:4px;

}

.zero{
    flex-grow: 2;
}
.rightSideRow{
    background-color: rgb(255, 236, 28);
}